<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Confrom Page</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300|Montserrat' rel='stylesheet' type='text/css'>
  
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/email-sent.css">

  
</head>

<body>
  <div class="background"></div>
<div class="container">
		<div class="row">
				<div class="modalbox success col-sm-8 col-md-6 col-lg-5 center animate">
						<div class="icon">
								<span class="glyphicon glyphicon-ok"></span>
						</div>
						<!--/.icon-->
						<h1>Success!</h1>
						<p>We've sent a confirmation to your e-mail
								<br>for verification.</p>
						<button type="button" class="redo btn">No Email ??</button>
					<!-- <span class="change">Queries click here</span> -->
				</div>
				<!--/.success-->
		</div>
		<!--/.row-->
		<div class="row">
				<div class="modalbox error col-sm-8 col-md-6 col-lg-5 center animate">
						<div class="icon">
								<span class="glyphicon glyphicon-thumbs-down"></span>
						</div>
						<!--/.icon-->
						<h1>Oh no!</h1>
						<p>Oops! Something went wrong,
								<br> you should try again.</p>
						<button type="button"  >Contact Us</button>
					<span class="change"><a href="mailto:ayushverma111@gmail.com?Subject=Help%20Me">   Need Assistance--</a></span>
				</div>
				<!--/.success-->
		</div>
		<!--/.row-->
</div>
<!--/.container-->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/email-sent.js"></script>

</body>
</html>
