<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Logout</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="css/logout.css">

  
</head>

<body>
  <html>

<head>
  <title>Thank You!</title>
  <link rel="stylesheet" type="text/css" href="css/thankyou.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400i' rel='stylesheet' type='text/css'>
</head>

<body style="height: 100%; width: 100%; background-color: #f8f0d5;">
  <div id="thankyou">
    <h2 id="h2thankyou">Logout....eh?</h2>
    <a href="/">Take me back to home!</a>
  </div>
</body>

</html>
  
  
</body>
</html>
